.profile-picture {
width: 100%;
height: 100%;
}

.profile-picture-frame {
    width:48px;
    height:48px;
}

.post-header-info {
    display: inline;
}

.post-likes-inline{
    display: inline;
    padding-right: 0.25rem;
}

.post-heading-text {
    display: inline;
    padding-right: 0.5rem;
}

.user-name {
    font-weight: bold;
}

.user-handle {
    color:white;
}

.tweet-date {
    color:white
}

.tweet-container{
    border-bottom: 1px solid gray;
    padding: 1rem;
}

.background-red {
    background-color: #f44336;
}

.background-green {
    background-color: #4caf50;
}

.search-area {
    margin-bottom: 1rem;
}