<div>
    <h1>Trumps Tweets</h1>
    <p>(This is not a tribute page)</p>

    <div class="tweet-feed" *ngFor="let tweet of tweets">
        <div class="tweet-container">
            <div class="logo">
                <img src="{{profilePicture}}" class="">
            </div>
            <div class="post">
              <div>
                <p>{{userName}}</p>
                <p>{{userHandle}}</p>
                <p>{{tweet.date|date}}</p>
              </div>

              <p>{{tweet.text}}</p>
              <p>{{tweet.likes}}</p>
            </div>
        </div>
    </div>
</div>