<div>
    <h1>Trumps Tweets</h1>
    <p>(This is not a tribute page)</p>

    <div class="tweet-feed">
        <div class="tweet-container">
            <div class="float-md-left">
                <h1>Text</h1>
            </div>
            <div class="float-md-right">
                <p>Likes</p>
                <p>Day</p>
            </div>
        </div>
    </div>
</div>

<!-- <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Day</th>
        <th scope="col">Likes</th>
        <th scope="col">Text</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th></th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table> -->